<h1>SEARCH PAGE</h1>
<form action="/places/results" method="GET">
<input type="text" id="search" name="search" value=" ">
<button type="submit">Search</button>
</form>

<form action="/" method="GET">
    <button  type="submit">Homepage</button>
</form>