<h1>This shows 1 locaiton</h1>

    <h2>Country: <%= place.location %> </h2>
    <h3>Name: <%= place.title %> </h3>
    <img src=<%= place.image %> alt="location pic" height='300' width='300'>\
    <p>Description: <%= place.description %> </p>   