
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <style>
        body {
            background-image: url("https://imgur.com/9Pwun2z.jpg");
            background: cover;
        }
    </style>
  </head>
  <body>
  
  <div class="jumbotron text-center">
    <h1>Life is better in flip flops.</h1>
    <p>Take vacations, and go as many places as you can. You can always make money, but you can’t always make memories.</p> 

    <form method="get" action="/places/search">
        <button type="submit" class="btn btn-primary">Search For Vacation Idea</button>
      </form>

  </div>

  
  </body>
  </html>    
       
    
  