
   <div class="d-flex flex-row-reverse">
    <% if (!currentUser) {%>
        <div class="btn-group">
            <button type="button" class="btn btn-default"><a href="/auth/signup">Signup</a></button>
            <button type="button" class="btn btn-default"><a href="/auth/login">Login</a></button>
          </div>
    <% } else { %>
        <div class="btn-group">
            <button type="button" class="btn btn-default"><a href="/">Home</a></button>
            <button type="button" class="btn btn-default"><a href="/profile">Profile</a></button>
            <button type="button" class="btn btn-default"><a href="/places">Favorite Places</a></button>
            <button type="button" class="btn btn-default"><a href="/auth/logout">Logout</a></button>
          </div>
    <% } %>
    </div>

    <%- body %> 
