<h1 style="text-align: center; color: red;">404: Page not found </h1>

<img src="https://media.giphy.com/media/d2Z2tUz8GzbwvCsU/giphy.gif" width="480" height="273" alt="Oprah No">

<p>Sorry! this page does not exist</p>

<form action="/" method="GET">
    <button type="submit" class="btn btn-info">Go Back Home</button>
    </form>